div.l14s-outils
  div.l14s-outil
    h2 Sites principaux
    ul.outil 
      li 
        b Wagtail
        | 
        | pour 
        | 
        b le portail
        | 
        |  de lesgrandsvoisins.com
        br
        a(href="https://www.lesgrandsvoisins.com") www.lesgrandsvoisins.com
      li 
        b Ghost
        | 
        | pour
        | 
        b le blog
        | 
        | des Grands Voisins
        br
        a(href="https://blog.lesgrandsvoisins.com") blog.lesgrandsvoisins.com
      li 
        b GdVoisins
        | .com pour les outils libres 
        br
        a(href="https://www.gdvoisins.com") gdvoisins.com
        | 
        | ou
        | 
        a(href="https://www.gdv1.com") gdv1.com
        | 
        | ou
        | 
        a(href="https://www.l14s.com") l14s.com
      li
        | Documentation par notre
        | 
        b wiki Quartz
        br
        a(href="https://quartz.resdigita.com") quartz.resdigita.com
  div.l14s-outil
    h2 Outils libres 1
    ul.outil
      li
        b Webmail et serveur mail 
        | 
        | des Grands Voisins
        br
        a(href='mail.lesgrandsvoisins.com') mail.lesgrandsvoisins.com
        br
        | documentation pour cela se trouve sur 
        a(href="https://quartz.resdigita.com/config/services/email/") quartz.resdigita.com/config/services/email
        br
      li 
        b Salle de réunion Jitsi 
        | 
        | en visioconférence
        br
        a(href="https://jitsi.lgv.info/lesgrandsvoisins") jitsi.lgv.info/lesgrandsvoisins
      li 
        b Vaultwarden
        | 
        | pour gérer nos mots de passe
        br
        a(href="https://vw.lgv.info") vw.lgv.info
  div.l14s-outil 
    h2 Outils libres 2
    ul.outil 
      li 
        b Linkding 
        | pour gérer nos liens web (favoris / marque pages)
        br
        a(href="https://linkding.lesgrandsvoisins.com") linkding.lesgrandsvoisins.com
      li 
        b Hedgedoc
        | 
        | pour éditer nos documents collaboratifs en format Markdown
        br
        a(href="https://mark.lesgrandsvoisins.com") mark.lesgrandsvoisins.com
      li 
        b Vikunja 
        | 
        | pour coordonner des projets et des tâches
        br
        a(href="https://task.lesgrandsvoisins.com") task.lesgrandsvoisins.com
  div.l14s-outil 
    h2 Gestion de son compte
    ul.outil 
      li 
        b Comptes Keycloak 
        | 
        | des utilisateurs
        br
        a(href="https://key.lesgrandsvoisins.com/realms/master/account") key.lesgrandsvoisins.com/realms/master/account
      li 
        | Gestion d'utilisateur 
        |
        b Guichet 
        br
        a(href="https://guichet.resdigita.com/user") guichet.resdigita.com/user
      li 
        | Inscription sur nos 
        | 
        b lettres d'information ListMonk 
        br
        a(href="https://list.lesgrandsvoisins.com/subscription/form") list.lesgrandsvoisins.com/subscription/form
  div.l14s-outil
    h2 Dons
    ul.outil 
      li
        b Dons HelloAsso 
        | 
        | pour Les Grands Voisins
        br
        a(href="https://www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle") www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle
      li
        b Dons Paypal
        | 
        | pour Les Grands Voisins
        br
        a(href="https://www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y") www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y
      li
        b Dons Stripe
        | 
        | pour Les Grands Voisins
        br
        a(href="https://donate.stripe.com/fZe7uD07z9hAg0w288") donate.stripe.com/fZe7uD07z9hAg0w288
  div.l14s-outil 
    h2 Médias sociaux
    ul.outil 
      li 
        b les_grands_voisins 
        | sur Instagram 
        br
        a(href="https://www.instagram.com/les_grands_voisins") www.instagram.com/les_grands_voisins
      li 
        b @LesGrandsVoisinsCom
        | 
        | sur Youtube 
        br
        a(href="https://www.youtube.com/@LesGrandsVoisinsCom") www.youtube.com/@LesGrandsVoisinsCom
      li 
        b lesgrandsvoisins 
        | 
        | sur GitHub 
        br
        a(href="https://github.com/lesgrandsvoisins") github.com/lesgrandsvoisins
  div.l14s-outil
    h2 Expérimentation
    ul.outil
      li
        | Calendriers 
        | 
        b Xandikos
        br
        a(href="https://xandikos.lesgv.org") xandikos.lesgv.org
      li
        | Blog  
        | 
        b Write Freely
        br
        a(href="https://writefreely.lesgrandsvoisins.com") writefreely.lesgrandsvoisins.com
      li
        | Forum  
        | 
        b Discourse
        br
        a(href="https://discourse.lesgrandsvoisins.com/") discourse.lesgrandsvoisins.com/
      li
        | Fils de discussion  
        | 
        b Matter Most
        br
        a(href="https://mm.lgv.info") mm.lgv.info
      li
        | Ancien tableau de bord  
        | 
        b Wagtail 
        br
        a(href="https://www.lgv.info") www.lgv.info
  div.l14s-outil
    h2 Administration
    ul.outil
      li
        | Administration
        | 
        b du portail Wagtail
        br
        a(href="https://www.lesgrandsvoisins.com/cms-admin/") www.lesgrandsvoisins.com/cms-admin/
      li
        | Administration
        | 
        b du serveur Keycloak
        br
        a(href="https://key.lesgrandsvoisins.com/admin") key.lesgrandsvoisins.com/admin
      li
        | Administration
        | 
        b du blog Ghost
        br
        a(href="https://blog.lesgrandsvoisins.com/ghost") blog.lesgrandsvoisins.com/ghost
      li
        | Monitoring par notre
        | 
        b Uptime Kuma
        br
        a(href="https://up.lesgrandsvoisins.com") up.lesgrandsvoisins.com
      li 
        | Listes de diffusion par notre serveur
        | 
        b ListMonk 
        br
        a(href="https://list.lesgrandsvoisins.com") list.lesgrandsvoisins.com
      li
        | Wikijs de configuration  
        | 
        b Config Magic
        br
        a(href="https://www.configmagic.com") www.configmagic.com