body {
    font-family: "intervariable";
    /* font-family: "fengardo"; */
    margin: 0 10rem;
}

h1,
h2 {
    text-align: center;
    font-family: "grotesk";
}

a,
.word-wrap {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

div.gdvoisins-outils {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around; */
}

div.gdvoisins-outil {
    max-width: 30rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 0 1rem;
    border-width: 1px;
}

@media screen and (max-width: 120rem) {
    body {
        margin: 0 3rem;
    }


}

@media screen and (max-width: 40rem) {
    body {
        margin: 0 1rem;
    }
}