html(class="no-js" lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title G D Voisins - Informatique des Grands Voisins
    link(rel="stylesheet",href="./assets/fonts/inter/web/inter.css")
    link(rel="stylesheet",href="./assets/fonts/fengardo/font.css")
    link(rel="stylesheet",href="./assets/fonts/grotesk/_web/font.css")
    link(rel="stylesheet",href="./assets/css/style.css")
    link(rel="stylesheet",href="./gdvoisins.css")
    meta(name="description" content="GDVoisins.com est l'environnement informatique de www.lesgrandsvoisins.com")
    meta(property="og:title" content="GDVoisins.com - Informatique des Grands Voisins")
    meta(property="og:type" content="")
    meta(property="og:url" content="https://www.gdvoisins.com")
    meta(property="og:image" content="")
    meta(property="og:image:alt" content="")
    link(rel="icon" href="./assets/images/favicon_io/favicon.ico" sizes="any")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="icon" href="./assets/images/gdvoisins.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" sizes="180x180"  href="./assets/images/favicon_io/apple-touch-icon.png")
    link(rel="manifest" href="site.webmanifest")
    meta(name="theme-color" content="#fafafa")
  body(class="gdvoisins")
    h1 GDVoisins.com 
    p.subtitle Bienvenue à GDVoisins, l'environnement informatique de 
      a(href="https://www.lesgrandsvoisins.com") 
        b www.lesgrandsvoisins.com
      | .
    div.gdvoisins-outils
      div.gdvoisins-outil
        h2 Sites principaux
        ul.outil 
          li 
            b Wagtail
            | 
            | pour 
            | 
            b le portail
            | 
            |  de lesgrandsvoisins.com
            br
            a(href="https://www.lesgrandsvoisins.com") www.lesgrandsvoisins.com
          li 
            b Ghost
            | 
            | pour
            | 
            b le blog
            | 
            | des Grands Voisins
            br
            a(href="https://blog.lesgrandsvoisins.com") blog.lesgrandsvoisins.com
            br
            | blog.gdvoisins.com renvoi vers blog.lesgrandsvoisins.com 
      div.gdvoisins-outil
        h2 Communication
        ul.outil
          li
            b Webmail et serveur mail 
            | 
            | des Grands Voisins
            br
            a(href='mail.lesgrandsvoisins.com') mail.lesgrandsvoisins.com
            br
            | mail.gdvoisins.com redirige vers mail.lesgrandsvoisins.com
            br
            | documentation pour cela se trouve sur ... (à renseigner)
            br
          li 
            b Salle de réunion Jitsi 
            | 
            | en visioconférence
            br
            a(href="https://jitsi.lgv.info/lesgrandsvoisins") jitsi.lgv.info/lesgrandsvoisins
          li 
            b Comptes Keycloak 
            | 
            | des utilisateurs
            br
            a(href="https://key.lesgrandsvoisins.com/realms/master/account") key.lesgrandsvoisins.com/realms/master/account
      div.gdvoisins-outil
        h2 Information
        ul.outil 
          li 
            b Linkding 
            | pour gérer nos liens web (favoris / marque pages)
            br
            a(href="https://linkding.lesgrandsvoisins.com") linkding.lesgrandsvoisins.com
          li 
            b Hedgedoc
            | 
            | pour éditer nos documents collaboratifs en format Markdown
            br
            a(href="https://mark.lesgrandsvoisins.com") mark.lesgrandsvoisins.com
          li 
            b Vikunja 
            | 
            | pour coordonner des projets et des tâches
            br
            a(href="https://task.lesgrandsvoisins.com") task.lesgrandsvoisins.com
          li 
            b Vaultwarden
            | 
            | pour gérer nos mots de passe
            br
            a(href="https://vw.lgv.info") vw.lgv.info
      div.gdvoisins-outil
        h2 Dons
        ul.outil 
          li 
            b les_grands_voisins 
            | sur Instagram 
            br
            a(href="https://www.instagram.com/les_grands_voisins") www.instagram.com/les_grands_voisins
            br
            | peut-être à migrer vers gdvoisins
          li 
            b @LesGrandsVoisinsCom
            | 
            | sur Youtube 
            br
            a(href="https://www.youtube.com/@LesGrandsVoisinsCom") www.youtube.com/@LesGrandsVoisinsCom
            br
            | peut-être à migrer vers @gdvoisins
          li
            b Dons HelloAsso 
            | 
            | pour Les Grands Voisins
            br
            a(href="https://www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle") www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle
          li
            b Dons Paypal
            | 
            | pour Les Grands Voisins
            br
            a(href="https://www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y") www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y
          li
            b Dons Stripe
            | 
            | pour Les Grands Voisins
            br
            a(href="https://donate.stripe.com/fZe7uD07z9hAg0w288") donate.stripe.com/fZe7uD07z9hAg0w288
      div.gdvoisins-outil
        h2 Administration
        ul.outil
          li
            | Administration
            | 
            b du portail Wagtail
            br
            a(href="https://www.lesgrandsvoisins.com/cms-admin/") www.lesgrandsvoisins.com/cms-admin/
          li
            | Administration
            | 
            b du serveur Keycloak
            br
            a(href="https://key.lesgrandsvoisins.com/admin") key.lesgrandsvoisins.com/admin
          li
            | Administration
            | 
            b du blog Ghost
            br
            a(href="https://blog.lesgrandsvoisins.com/ghost") blog.lesgrandsvoisins.com/ghost
      
    script(src="./assets/js/app.js")