html(class="no-js" lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title G D Voisins - Informatique des Grands Voisins
    link(rel="stylesheet",href="./assets/fonts/inter/web/inter.css")
    link(rel="stylesheet",href="./assets/fonts/fengardo/font.css")
    link(rel="stylesheet",href="./assets/fonts/grotesk/_web/font.css")
    link(rel="stylesheet",href="./assets/css/style.css")
    link(rel="stylesheet",href="./gdvoisins.css")
    meta(name="description" content="GDVoisins.com est l'environnement informatique de www.lesgrandsvoisins.com")
    meta(property="og:title" content="GDVoisins.com - Informatique des Grands Voisins")
    meta(property="og:type" content="")
    meta(property="og:url" content="https://www.gdvoisins.com")
    meta(property="og:image" content="")
    meta(property="og:image:alt" content="")
    link(rel="icon" href="./assets/images/favicon.ico" sizes="any")
    link(rel="icon" href="./assets/images/icon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="./assets/images/icon.png")
    link(rel="manifest" href="site.webmanifest")
    meta(name="theme-color" content="#fafafa")
  body(class="gdvoisins")
    h1 GDVoisins.com 
    p Bienvenue à GDVoisins, l'environnement informatique de 
      a(href="https://www.lesgrandsvoisins.com") 
        b www.lesgrandsvoisins.com
      | .
    div.gdvoisins-outils
      div.gdvoisins-outil
        h2 Sites principaux
        ul 
          li 
            a(href="https://www.lesgrandsvoisins.com") www.lesgrandsvoisins.com
            br
            b Wagtail
            | 
            | pour 
            | 
            b le portail
            | 
            |  de lesgrandsvoisins.com
          li 
            a(href="https://blog.lesgrandsvoisins.com") blog.lesgrandsvoisins.com
            br
            b Ghost
            | 
            | pour
            | 
            b le blog
            | 
            | des Grands Voisins
            br
            | blog.gdvoisins.com renvoi vers blog.lesgrandsvoisins.com 
      div.gdvoisins-outil
        h2 Communication
        ul 
          li 
            a(href='mail.lesgrandsvoisins.com') mail.lesgrandsvoisins.com
            br
            b Webmail et serveur mail 
            | 
            | des Grands Voisins
            br
            | mail.gdvoisins.com redirige vers mail.lesgrandsvoisins.com
            br
            | documentation pour cela se trouve sur ... (à renseigner)
          //- li 
          //-   a(href="https://contaboe.lesgrandsvoisins.com") contaboe.lesgrandsvoisins.com
          li 
            a(href="https://jitsi.lgv.info/lesgrandsvoisins") jitsi.lgv.info/lesgrandsvoisins
            br
            b Salle de réunion Jitsi 
            | 
            | en visioconférence
          li 
            a(href="https://key.lesgrandsvoisins.com/realms/master/account") key.lesgrandsvoisins.com/realms/master/account
            br
            b Comptes Keycloak 
            | 
            | des utilisateurs
      div.gdvoisins-outil
        h2 Information
        ul 
          li 
            a(href="https://linkding.lesgrandsvoisins.com") linkding.lesgrandsvoisins.com
            br
            b Linkding 
            | pour gérer nos liens web (favoris / marque pages)
          li 
            a(href="https://mark.lesgrandsvoisins.com") mark.lesgrandsvoisins.com
            br
            b Hedgedoc
            | 
            | pour éditer nos documents collaboratifs en format Markdown
          li 
            a(href="https://task.lesgrandsvoisins.com") task.lesgrandsvoisins.com
            br
            b Vikunja 
            | 
            | pour coordonner des projets et des tâches
          li 
            a(href="https://vw.lgv.info") vw.lgv.info
            br
            b Vaultwarden
            | 
            | pour gérer nos mots de passe
      div.gdvoisins-outil
        h2 Dons
        ul 
          li 
            a(href="https://www.instagram.com/les_grands_voisins") www.instagram.com/les_grands_voisins
            br
            b les_grands_voisins 
            | sur Instagram 
            br
            | peut-être à migrer vers gdvoisins
          li 
            a(href="https://www.youtube.com/@LesGrandsVoisinsCom") www.youtube.com/@LesGrandsVoisinsCom
            br
            b @LesGrandsVoisinsCom
            | 
            | sur Youtube 
            br
            | peut-être à migrer vers @gdvoisins
          li
            a(href="https://www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle") www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle
            br
            b Dons HelloAsso 
            | 
            | pour Les Grands Voisins
          li
            a(href="https://www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y") www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y
            br
            b Dons Paypal
            | 
            | pour Les Grands Voisins
          li
            a(href="https://donate.stripe.com/fZe7uD07z9hAg0w288") donate.stripe.com/fZe7uD07z9hAg0w288
            br
            b Dons Stripe
            | 
            | pour Les Grands Voisins
      div.gdvoisins-outil
        h2 Administration
        ul
          li
            a(href="https://www.lesgrandsvoisins.com/cms-admin/") www.lesgrandsvoisins.com/cms-admin/
            br
            | Lien d'administration pour
            | 
            b notre portail Wagtail
          li
            a(href="https://key.lesgrandsvoisins.com/admin") key.lesgrandsvoisins.com/admin
            br
            | Lien d'administration
            | 
            b pour notre serveur Keycloak
          li
            a(href="https://blog.lesgrandsvoisins.com/ghost") blog.lesgrandsvoisins.com/ghost
            br
            | Lien d'administration
            | 
            b pour notre blog Ghost
      
      
      
      
    script(src="./assets/js/app.js")