html(class="no-js" lang="fr" )
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title G D Voisins - Informatique des Grands Voisins
    link(rel="stylesheet",href="./assets/fonts/inter/web/inter.css")
    link(rel="stylesheet",href="./assets/fonts/grotesk/fonts/_web/font.css")
    link(rel="stylesheet",href="./assets/css/style.css")
    link(rel="stylesheet",href="./styles.css")
    meta(name="description" content="l14s.com est l'environnement informatique de www.lesgrandsvoisins.com")
    meta(property="og:title" content="l14s.com - Informatique des Grands Voisins")
    meta(property="og:type" content="")
    meta(property="og:url" content="https://www.l14s.com")
    meta(property="og:image" content="")
    meta(property="og:image:alt" content="")
    link(rel="icon" href="./assets/images/logo/l14s/favicon_io/favicon.ico" sizes="any")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/images/logo/l14s/favicon_io/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo/l14s/favicon_io/favicon-16x16.png")
    link(rel="icon" href="./assets/images/logo/l14s/stamp-l14s-com.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" sizes="180x180"  href="./assets/images/logo/l14s/favicon_io/apple-touch-icon.png")
    link(rel="manifest" href="site.webmanifest")
    meta(name="theme-color" content="#fafafa")
    base(target="_blank")
  body(class="l14s")
    div.l14s-banner
      a(href="https://www.lesgrandsvoisins.com" target="_self")
        //- img(src="./assets/images/logo/l14s/logo-l14s-600-72.png" width="600" height="72" alt="l14s.com" class="l14s-banner" id="l14s-banner")
        img(src="./assets/images/logo/l14s/logo-l14s-600-72.png" width="600" height="72" alt="l14s.com" class="l14s-banner" id="l14s-banner")
    h1 l14s.com 
    p.subtitle Bienvenue à l14s.com, l'environnement informatique de 
      a(href="https://www.lesgrandsvoisins.com") 
        b www.lesgrandsvoisins.com
      | .
      br
      | (Il y a 14 lettres entre le "L" et le "s" final de "lesgrandsvoisins.com" qui est un peu long à écrire, d'où l14s.com pour faire plus court.)
    div.l14s-outils
      div.l14s-outil
        h2 Sites principaux
        ul.outil 
          li 
            b Wagtail
            | 
            | pour 
            | 
            b le portail
            | 
            |  de lesgrandsvoisins.com
            br
            a(href="https://www.lesgrandsvoisins.com") www.lesgrandsvoisins.com
          li 
            b Ghost
            | 
            | pour
            | 
            b le blog
            | 
            | des Grands Voisins
            br
            a(href="https://blog.lesgrandsvoisins.com") blog.lesgrandsvoisins.com
            br
            | blog.l14s.com renvoi vers blog.lesgrandsvoisins.com 
      div.l14s-outil
        h2 Communication
        ul.outil
          li
            b Webmail et serveur mail 
            | 
            | des Grands Voisins
            br
            a(href='mail.lesgrandsvoisins.com') mail.lesgrandsvoisins.com
            br
            | mail.l14s.com redirige vers mail.lesgrandsvoisins.com
            br
            | documentation pour cela se trouve sur ... (à renseigner)
            br
          li 
            b Salle de réunion Jitsi 
            | 
            | en visioconférence
            br
            a(href="https://jitsi.lgv.info/lesgrandsvoisins") jitsi.lgv.info/lesgrandsvoisins
          li 
            b Comptes Keycloak 
            | 
            | des utilisateurs
            br
            a(href="https://key.lesgrandsvoisins.com/realms/master/account") key.lesgrandsvoisins.com/realms/master/account
      div.l14s-outil 
        h2 Information
        ul.outil 
          li 
            b Linkding 
            | pour gérer nos liens web (favoris / marque pages)
            br
            a(href="https://linkding.lesgrandsvoisins.com") linkding.lesgrandsvoisins.com
            br
            | renommer en ld.l14s.com
          li 
            b Hedgedoc
            | 
            | pour éditer nos documents collaboratifs en format Markdown
            br
            a(href="https://mark.lesgrandsvoisins.com") mark.lesgrandsvoisins.com
            br
            | renommer en hd.l14s.com
          li 
            b Vikunja 
            | 
            | pour coordonner des projets et des tâches
            br
            a(href="https://task.lesgrandsvoisins.com") task.lesgrandsvoisins.com
            br
            | renommer en vk.l14s.com
          li 
            b Vaultwarden
            | 
            | pour gérer nos mots de passe
            br
            a(href="https://vw.lgv.info") vw.lgv.info
            br
            | renommer en vw.l14s.com
      div.l14s-outil
        h2 Dons
        ul.outil 
          li 
            b les_grands_voisins 
            | sur Instagram 
            br
            a(href="https://www.instagram.com/les_grands_voisins") www.instagram.com/les_grands_voisins
            br
            | peut-être à migrer vers l14s
          li 
            b @LesGrandsVoisinsCom
            | 
            | sur Youtube 
            br
            a(href="https://www.youtube.com/@LesGrandsVoisinsCom") www.youtube.com/@LesGrandsVoisinsCom
            br
            | peut-être à migrer vers @l14s
          li
            b Dons HelloAsso 
            | 
            | pour Les Grands Voisins
            br
            a(href="https://www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle") www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle
          li
            b Dons Paypal
            | 
            | pour Les Grands Voisins
            br
            a(href="https://www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y") www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y
          li
            b Dons Stripe
            | 
            | pour Les Grands Voisins
            br
            a(href="https://donate.stripe.com/fZe7uD07z9hAg0w288") donate.stripe.com/fZe7uD07z9hAg0w288
      div.l14s-outil
        h2 Administration
        ul.outil
          li
            | Administration
            | 
            b du portail Wagtail
            br
            a(href="https://www.lesgrandsvoisins.com/cms-admin/") www.lesgrandsvoisins.com/cms-admin/
          li
            | Administration
            | 
            b du serveur Keycloak
            br
            a(href="https://key.lesgrandsvoisins.com/admin") key.lesgrandsvoisins.com/admin
          li
            | Administration
            | 
            b du blog Ghost
            br
            a(href="https://blog.lesgrandsvoisins.com/ghost") blog.lesgrandsvoisins.com/ghost
    button(type="button" data-theme-toggle aria-label="jour / nuit" class="l14s-theme") jout / nuit
    script(src="./assets/js/app.js")
    script(src="./assets/js/lightdark.js")